<p id="notice"><%= notice %></p>

<p>
  <b>Num people:</b>
  <%= @reservation.num_people %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
