<h1>Listing reservations_tables</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations_tables.each do |reservations_table| %>
  <tr>
    <td><%= link_to 'Show', reservations_table %></td>
    <td><%= link_to 'Edit', edit_reservations_table_path(reservations_table) %></td>
    <td><%= link_to 'Destroy', reservations_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservations table', new_reservations_table_path %>
